@import "./header";
@import "./map.scss";
@import "./marker";

#app {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
  padding: 5px 0 5px 5px;
  background: #fff;
}

.content {
  padding: 5px;
}

.wrapper {
  .map__demo {
    display: block;
    margin: 0 auto;
  }

  @media screen and (max-width: 600px) {
    .map__demo {
      max-width: 100%;
      height: auto;
    }
  }
}