.markers {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.markers__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
  margin-right: 5px;
  
  .marker {
    border: 1px solid #00000029;
    padding: 5px;
    border-radius: 10px;
    
    &:hover {
      cursor: pointer;
      font-weight: bold;
    }

    &.active {
      font-weight: bold;
    }
    
    &__coords {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

@media (max-width: 960px) {
  .markers__list {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    margin-right: 0;
    justify-content: space-between;

    .marker {
      width: 45%;
    }
  }
}

